<div class="container mt-5">
    <div id="tab-demo" class="m-auto">
        <ul class="tab-title">
            <li><a href="#tab01">店家資訊</a></li>
            <li><a href="#tab02">菜單</a></li>
            <li><a href="#tab03">選項</a></li>
        </ul>
        <div id="tab01" class="tab-inner">
            <%= simple_form_for(group) do |f| %>
                <%= f.input :shop_photo, label: '照片' %>
                <%= f.input :title, label: "團名" %> 
                <%= f.input :address, label: "店家地址" %> 
                <%= f.input :phone, label: "店家電話" %> 
                <%= f.input :description, label: "描述" %>
        </div>
        <div id="tab02" class="tab-inner">
            <div id="products">
                <%= f.simple_fields_for :products do |product| %>
                <%= render 'product_fields', f: product %>
                <% end %>
                <div class="links">
                <%= link_to_add_association '新增菜單', f, :products, class: "btn, btn-success btn-sm" %>
                </div>
            </div>
        </div>
        <div id="tab03" class="tab-inner">
            <%= f.simple_fields_for :options do |option| %>
            <%= render 'option_fields', f: option %>
            <% end %>
            <div class="links">
            <%= link_to_add_association '新增選項', f, :options, class: "btn, btn-success btn-sm"  %>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
    <%= f.button :submit, value: "確定開團",class:"btn btn-danger mt-5 m-auto btn-lg"  %>
    </div>
    <% end %>
</div>
