<%= simple_form_for(group) do |f| %>
  <div class="form-pc">
    <div class="container mt-5">
      <div id="tab-demo" class="m-auto">
        <ul class="tab-title">
          <li><a href="#tab01"><%= t("groups.store_info") %></a></li>
          <li><a href="#tab02"><%= t("groups.menu") %></a></li>
          <li><a href="#tab03"><%= t("groups.option") %></a></li>
        </ul>
        <div id="tab01" class="tab-inner">
          <% if group.shop_photo.attached? %>
            <div class="row justify-content-center">
              <%= image_tag group.shop_photo.variant(resize: "300x300"), class: "group-img " %>
            </div>
          <% end %>
            <div>
              <%= f.input :shop_photo, label: t("groups.upload_photo"), label_html: { class: "btn btn-sm btn-outline-primary custom-file-upload-pc" }, input_html: { class: "photo-upload-pc" } %>
              <%= f.input :title, label: t("groups.group_name") %> 
              <%= f.input :address, label: t("groups.address") %> 
              <%= f.input :phone, label: t("groups.phone") %> 
              <%= f.input :description, label: t("groups.description") %>
            </div>
        </div>
        <div id="tab02" class="tab-inner">
            <div id="products">
                <%= f.simple_fields_for :products do |product| %>
                    <%= render 'product_fields', f: product %>
                <% end %>
                <div class="links">
                    <%= link_to_add_association t("groups.create_menu"), f, :products, class: "btn btn-new btn-sm" %>
                </div>
            </div>
        </div>
        <div id="tab03" class="tab-inner">
            <%= f.simple_fields_for :options do |option| %>
                <%= render 'option_fields', f: option %>
            <% end %>
            <div class="links">
                <%= link_to_add_association t("groups.create_option"), f, :options, class: "btn btn-new btn-sm"  %>
            </div>
        </div>
      </div>
    </div>
  
    <div class="container mt-5">
      <div class="row">
        <% if (action == "edit") || (action == "update") %>
          <%= f.button :submit, value: t("groups.confirm_update"),class:"btn btn-delete btn-lg mx-auto btn-lg"  %>
        <% elsif (action == "new") || (action == "create")  %>
          <%= f.button :submit, value: t("groups.confirm_group"),class:"btn btn-delete btn-lg mx-auto btn-lg"  %>
        <% end %>
      </div>
    </div>
  
    <div class="container mt-2">
      <div class="row">
          <%= link_to t("groups.back_to_record"), my_groups_path, class: "m-auto btn btn-dark btn-sm" %>
      </div>
    </div>
  </div>
<% end %>

<%= simple_form_for(group) do |f| %>
  <div class="form-phone">
    <div class="container mt-5">
        <div id="contents" class="m-auto">
          <div class="shop-info">
            <hr class="mt-5">
            <h2><%= t("groups.store_info") %></h2>
            <% if group.shop_photo.attached? %>
              <div class="row justify-content-center">
                <%= image_tag group.shop_photo.variant(resize: "300x300"), class: "group-img " %>
              </div>
            <% end %>
              <div>
                <%= f.input :shop_photo, label: t("groups.upload_photo"), label_html: { class: "btn btn-sm btn-outline-primary custom-file-upload-phone", for: "phone-photo-upload" }, input_html: { class: "photo-upload-phone", id: "phone-photo-upload" } %>
                <%= f.input :title, label: t("groups.group_name") %> 
                <%= f.input :address, label: t("groups.address") %> 
                <%= f.input :phone, label: t("groups.phone") %> 
                <%= f.input :description, label: t("groups.description") %>
              </div>
          </div>
          <hr class="mt-5">
          <div class="product-info">
            <h2><%= t("groups.menu")%> </h2>
              <div id="products">
                  <%= f.simple_fields_for :products do |product| %>
                      <%= render 'product_fields', f: product %>
                  <% end %>
                  <div class="links">
                      <%= link_to_add_association t("groups.create_menu"), f, :products, class: "btn btn-new btn-sm mt-3" %>
                  </div>
              </div>
          </div>
          <hr class="mt-5">
          <div class="option-info">
            <h2> <%= t("groups.option") %> </h2>
              <%= f.simple_fields_for :options do |option| %>
                  <%= render 'option_fields', f: option %>
              <% end %>
              <div class="links">
                  <%= link_to_add_association t("groups.create_option"), f, :options, class: "btn btn-new btn-sm mt-3"  %>
              </div>
          </div>
        </div>
      </div>
    
      <div class="container mt-5">
        <div class="row">
          <% if (action == "edit") || (action == "update") %>
            <%= f.button :submit, value: t("groups.confirm_update"),class:"btn btn-delete btn-lg mx-auto btn-lg"  %>
          <% else (action == "new") || (action == "create") %>
            <%= f.button :submit, value: t("groups.confirm_group"),class:"btn btn-delete btn-lg mx-auto btn-lg"  %>
          <% end %>
        </div>
      </div>
    
      <div class="container mt-2">
        <div class="row">
            <%= link_to t("groups.back_to_record"), my_groups_path, class: "m-auto btn btn-dark btn-sm" %>
        </div>
      </div>
  </div>

<% end %>
