  <div id="wrapper">
    <%= render 'shared/sidebar' %>

      <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container mt-5">

          <!-- Page Heading -->
          <h1 class="h3 text-heading"><%= t("groups.attended_group") %></h1>

          <!-- DataTales Example -->
          <div class="mac card-group">
              <div class="row">
                <% @groups.each do |group| %>
                <div class="card">
                  <div class="row p-2">
                    <div class="card-img-left col-4">
                      <% if group.shop_photo.attached? %>
                        <%= image_tag group.shop_photo, class: "default-pic" %>
                      <% else %>
                        <%= image_tag("logo.png", :alt => "logo", class:"default-pic") %>
                      <% end %>
                    </div>
                  
                  
                    <div class="col-8 text-dark">
                      <div class="pc-card-title">
                        <h2 class="card-title mt-2"><% if group.is_active == true %>
                              <%= link_to group.title, link_group_path(group.id), class: "text-primary", :remote => true %>
                            <% else%>
                              <%= group.title %>
                            <% end %>
                        </h2>
                        <div class="status ml-2">
                          <%= link_to t("groups.follow_group_icon"), follow_group_path(group.id), class: "btn btn-sm btn-warning", method: 'patch', remote: true %>
                        </div>
                      </div>

                    <div class="text-wrap-wrap d-flex justify-content-start">
                      <div class="text-wrap mr-2">
                        <% if group.is_active == true %>
                          <span class="badge badge-primary">
                            <%= t("groups.not_close") %>
                          </span>
                        <% else%>
                          <span class="badge badge-secondary">
                            <%= t("groups.closed") %>
                          </span>
                        <% end %>
                      </div>
                      <div class="text-wrap owner">
                        <span class="badge badge-dark"><%= t("groups.group_owner") %>： <%= group.user.nick_name %></span>
                      </div>
                    </div>

                      <p><%= group.description %></p>
                      
                      <div class="d-flex justify-content-start">
                        
                        <div class="status mr-1">
                          <%= link_to t("groups.see_status"), group_path(group.id), class: "btn btn-status btn-sm" %>
                        </div>

                      </div>
                      <hr>
                      <div class="time mb-2">
                        <i class="fa fa-clock-o"></i>  
                              <span class="mr-3">
                                <%= group.created_at.to_s(:common) %> 
                                <% unless group.is_active %>
                                ~ <%= group.end_time.to_s(:common) if group.end_time %>
                                <% end %>
                              </span>
                      </div>
                    </div>
                  </div>
                   </div>
                <% end %>
            </div>
          </div>


          
          <div class="phone-card">
            <% @groups.each do |group| %>
              <div class="card mt-3">
                <div class="card-body">
                  <div class="card-img-top">
                    <% if group.shop_photo.attached? %>
                      <%= image_tag group.shop_photo, class: "default-pic" %>
                    <% else %>
                        <%= image_tag("logo.png", :alt => "logo", class:"default-pic") %>
                    <% end %>
                  </div>
                  <h3 class="card-title">
                    <% if group.is_active == true %>
                      <%= link_to group.title, link_group_path(group.id), class: "text-primary", :remote => true %>
                    <% else%>
                      <%= group.title %>
                    <% end %>
                  </h3>
                  <%= link_to t("groups.follow_group_icon"), follow_group_path(group.id), class: "btn btn-sm btn-warning mb-2", method: 'patch', remote: true %>

                  <div class="text-wrap-wrap d-flex justify-content-center">
                    <div class="text-wrap mr-2">
                      <% if group.is_active == true %>
                        <span class="badge badge-primary">
                          <%= t("groups.not_close") %>
                        </span>
                      <% else%>
                        <span class="badge badge-secondary">
                          <%= t("groups.closed") %>
                        </span>
                      <% end %>
                    </div>
  
                    <div class="text-wrap owner">
                      <span class="badge badge-dark"><%= t("groups.group_owner") %>： <%= group.user.nick_name %></span>
                    </div>
                  </div>

                  <h6 class="card-subtitle text-muted mt-2 mb-3"> <%= group.description %> </h6>


                  <div class="statusbtn mb-2">
                    <%= link_to t("groups.see_status"), group_path(group.id), class: "btn btn-status" %>
                  </div>

                  <div class="time mb-2">
                    <i class="fa fa-clock-o"></i>  
                      <span class="mr-3">
                        <%= group.created_at.to_s(:common) %> 
                        <% unless group.is_active %>
                        ~ <%= group.end_time.to_s(:common) if group.end_time %>
                        <% end %>
                      </span>
                  </div>
                  
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%= render "footer" %>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->


