  <div id="wrapper">
    <%= render 'shared/sidebar' %>

      <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid mt-5">

          <!-- Page Heading -->
          <h1 class="h3 text-heading"><%= t("groups.attended_group") %></h1>

          <!-- DataTales Example -->
          <div class="mac card-group">
              <div class="row">
                <% @groups.each do |group| %>
                <div class="card">
                  <div class="row p-2">
                    <div class="card-img-left col-4">
                      <% if group.shop_photo.attached? %>
                        <%= image_tag group.shop_photo, class: "default-pic" %>
                      <% else %>
                        <%= image_tag("logo.png", :alt => "logo", class:"default-pic") %>
                      <% end %>
                    </div>
                  
                  
                    <div class="col-8 text-dark">
                      <h2 class="card-title mt-2"><% if group.is_active == true %>
                            <%= link_to group.title, link_group_path(group.id), class: "text-primary", :remote => true %>
                          <% else%>
                            <%= group.title %>
                          <% end %>
                      </h2>
                      <div class="text-wrap">
                          <% if group.is_active == true %>
                          <span class="badge badge-primary">
                            <%= t("groups.not_close") %>
                          </span>
                        <% else%>
                          <span class="badge badge-secondary">
                            <%= t("groups.closed") %>
                          </span>
                        <% end %>
                      </div>
                      <p><%= group.description %></p>
                      
                      <div class="d-flex justify-content-start">
                        
                        <div class="status mr-1">
                          <%= link_to t("groups.see_status"), group_path(group.id), class: "btn btn-status btn-sm" %>
                        </div>

                        <div class="status">
                          <%= link_to t("groups.follow_group_icon"), follow_group_path(group.id), class: "btn btn-warning btn-sm", method: 'patch', remote: true %>
                        </div>
                      </div>
                      <hr>
                      <div class="time my-2">
                        <span class="mr-3">
                          <%= t("groups.start_time") %>：<%= group.created_at.to_s(:common) %>
                        </span>
                        <span>
                          <%= t("groups.end_time") %>：<% unless group.is_active %>
                            <%= group.end_time.to_s(:common) if group.end_time %>
                          <% end %>
                        </span>
                      </div>
                    </div>
                  </div>
                   </div>
                <% end %>
            </div>
          </div>


          
          <div class="phone-card">
            <% @groups.each do |group| %>
              <div class="card mt-3">
                <div class="card-body">
                  <div class="card-img-top">
                    <% if group.shop_photo.attached? %>
                      <%= image_tag group.shop_photo, class: "default-pic" %>
                    <% else %>
                        <%= image_tag("logo.png", :alt => "logo", class:"default-pic") %>
                    <% end %>
                  </div>
                  <h5 class="card-title"> <%= group.title %> </h5>
                  <h6 class="card-subtitle mb-2 text-muted"> <%= group.description %> </h6>
                  <p class="card-text"><%= t("groups.group_owner") %>： <%= group.user.name %> </p>
                  <p class="card-text"><%= t("groups.status") %>：                       
                    <% if group.is_active == true %>
                        <%= t("groups.not_close") %>
                    <% else%>
                        <%= t("groups.closed") %>
                    <% end %> </p>

                  <%= link_to t("groups.link"), link_group_path(group.id), class: "btn btn-secondary" %>
                  <%= link_to t("groups.see_status"), group_path(group.id), class: "btn btn-status" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%= render "footer" %>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->


