  <div id="wrapper">
    <%= render 'shared/sidebar' %>

      <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid mt-5">

          <!-- Page Heading -->
          <h1 class="h3 text-heading"><%= t("groups.attended_group") %></h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-dark"><%= t("groups.record_list") %></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th><%= t("groups.link") %></th>
                      <th><%= t("groups.group_name") %></th>
                      <th><%= t("groups.group_owner") %></th>
                      <th><%= t("groups.status") %></th>
                      <th><%= t("groups.end_time") %></th>
                      <th><%= t("groups.comment") %></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th><%= t("groups.link") %></th>
                      <th><%= t("groups.group_name") %></th>
                      <th><%= t("groups.group_owner") %></th>
                      <th><%= t("groups.status") %></th>
                      <th><%= t("groups.end_time") %></th>
                      <th><%= t("groups.comment") %></th>
                    </tr>
                  </tfoot>
                  <tbody></tbody>
                  <% @groups.each do |group| %>
                    <tr>
                      <td> <%= link_to t("groups.see_status"), group_path(group.id), class: "btn btn-status" %> </td>
                      <td><%= group.title  %></td>
                      <td> 
                        <%= group.user.name %>
                      </td>
                      <td> 
                        <% if group.is_active == true %>
                          <%= t("groups.not_close") %>
                        <% else%>
                          <%= t("groups.closed") %>
                        <% end %>
                      </td>
                      <td> <%= group.end_time.to_s(:common) if group.end_time %> </td>
                      <td> <%= group.description %> </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="phone-card">
            <% @groups.each do |group| %>
              <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title"> <%= group.title %> </h5>
                  <h6 class="card-subtitle mb-2 text-muted"> <%= group.description %> </h6>
                  <p class="card-text"><%= t("groups.group_owner") %>： <%= group.user.name %> </p>
                  <p class="card-text"><%= t("groups.status") %>：                       
                    <% if group.is_active == true %>
                        <%= t("groups.not_close") %>
                    <% else%>
                        <%= t("groups.closed") %>
                    <% end %> </p>

                  <%= link_to t("groups.link"), link_group_path(group.id), class: "btn btn-secondary" %>
                  <%= link_to t("groups.see_status"), group_path(group.id), class: "btn btn-status" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%= render "footer" %>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->


