<body id="page-top">

    <%= render 'shared/sidebar' %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid mt-5">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">我的團購</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">紀錄列表</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>連結</th>
                      <th>編輯</th>
                      <th>團名</th>
                      <th>狀態</th>
                      <th>起始時間</th>
                      <th>結束時間</th>
                      <th>備註</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>連結</th>
                      <th>編輯</th>
                      <th>團名</th>
                      <th>狀態</th>
                      <th>起始時間</th>
                      <th>結束時間</th>
                      <th>備註</th>
                    </tr>
                  </tfoot>
                  <tbody></tbody>
                  <% @groups.each do |group| %>
                    <tr>
                      <td> <%= link_to "連結", link_group_path(group.id) %> </td>
                      <td> <%= link_to "目前購買狀況", group_path(group.id) %> </td>
                      <td><%= group.title  %></td>
                      <td> 
                      <% if group.is_active == true %>
                        <%= link_to "結單", close_group_path(group.id), class: "btn btn-danger", method: "put", data: {confirm: "確定要結單？不能重新開啟喔！"} %>
                      <% else%>
                        <%= link_to "再開一次團",new_group_path(:group_id => group.id), class: "btn btn-success" %>
                      <% end %>
                      </td>
                      <td> <%= group.created_at.to_s(:common) %> </td>
                      <td> 
                        <% unless group.is_active %>
                          <%= group.end_time.to_s(:common) if group.end_time %> 
                        <% end %>
                      </td>
                      <td> <%= group.description %> </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%= render "footer" %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>

</body>

</html>
