
  <div id="wrapper"  >
    <%= render 'shared/sidebar' %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column mb-5">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid mt-5">
          <!-- Page Heading -->
          <h1 class="h3 text-heading"> <%= t("groups.follow_group") %> </h1>

          <!-- DataTales Example -->
         <div class="mac card-group">
              <div class="row">
                <% @groups.each do |group| %>
                <div class="card">
                  <div class="row p-2">
                    <div class="card-img-left col-4">
                      <% if group.shop_photo.attached? %>
                        <%= image_tag group.shop_photo, class: "default-pic" %>
                      <% else %>
                          <%= image_tag("logo.png", :alt => "logo", class:"default-pic") %>
                      <% end %>
                    </div>
                  
                  
                    <div class="col-8 text-dark">
                      <h2 class="card-title mt-2"><% if group.is_active == true %>
                            <%= link_to group.title, link_group_path(group.id), class: "text-primary", :remote => true %>
                          <% else%>
                            <%= group.title %>
                          <% end %>
                      </h2>
                      <div class="text-wrap">
                          <% if group.is_active == true %>
                          <span class="badge badge-primary">
                            <%= t("groups.not_close") %>
                          </span>
                        <% else%>
                          <span class="badge badge-secondary">
                            <%= t("groups.closed") %>
                          </span>
                        <% end %>
                      </div>
                      <p><%= group.description %></p>
                      
                      <div class="d-flex justify-content-start mb-2">
                        
                        <div class="status mr-1">
                          <%= link_to t("groups.see_status"), group_path(group.id), class: "btn btn-status btn-sm" %>
                        </div>
                         <div class="status">
                           <%= link_to t("groups.remove"), delete_follow_group_path(group.id), class: "btn btn-warning btn-sm", method: "patch", data: {confirm: t("groups.confirm_remove")} %>
                         </div>
                      </div>
                      </div>
                    </div>
                  </div>
                <% end %>
            </div>
          </div>


          

          <div class="phone-card">
            <% @groups.each do |group| %>
              <div class="card mt-3">
                <div class="card-body">
                 <div class="card-img-top">
                    <% if group.shop_photo.attached? %>
                      <%= image_tag @group.shop_photo, class: "default-pic" %>
                    <% else %>
                        <%= image_tag("logo.png", :alt => "logo", class:"default-pic") %>
                    <% end %>
                  </div>
                  <h5 class="card-title"> <%= group.title %> </h5>
                  <h6 class="card-subtitle mb-2 text-muted"> <%= group.description %> </h6>
                  <p class="card-text"><%= t("groups.start_time") %> <%= group.created_at.to_s(:common) %> </p>
                  <%= link_to t("groups.remove"), delete_follow_group_path(group.id), class: "btn btn-warning", method: "patch", data: {confirm: t("groups.confirm_remove")} %>
                  <% if group.is_active == true %>
                    <%= link_to t("groups.link"), link_group_path(group.id), class: "btn btn-secondary", remote:true %>
                  <% end %>
                  <%= link_to t("groups.see_status"), group_path(group.id), class: "btn btn-status" %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="modal" tabindex="-1" role="dialog" id="qrcode-modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><%= t("groups.your_link") %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div id="event_area"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-dismiss="modal">關閉</button> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%= render "footer" %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->


  </div>




