<div class = "container bg-white rounded mt-5 text-center pb-5 show-container">
  <h1 class = "pt-5" >團購資料</h1>
  
  <% if @group.shop_photo.attached? %>
    <div class="row justify-content-center">
      <%= image_tag @group.shop_photo.variant(resize: "300x300"), class: "group-img "  %>
    </div>
  <% end %>

  <div class = "container text-left">
      <table class="table-sm mx-auto">
        <tr>
          <td>團名</td>
          <td> <%= @group.title %> </td>
        </tr>
        <tr>
          <td>團購電話</td>
          <td> <%= @group.phone %> </td>
        </tr>
        <tr>
          <td>團購地址</td>
          <td> <%= @group.address %> </td>
        </tr>
        <tr>
          <td>狀態</td>
          <td>
            <% if @group.is_active == true %>
              尚未結單
            <% else%>
              已結單
            <% end %>
          </td>
        </tr>
        <tr>
          <td>描述</td>
          <td> <%= @group.description %> </td>
        </tr>
        <tr>
          <td>開始時間</td>
          <td> <%= @group.created_at.to_s(:common) %> </td>
        </tr>
        <tr>
          <td>目前團購金額</td>
          <td> <%= @group.total_price %> </td>
        </tr>
      
      </table>
  </div> 
 
  
  <div class ="text-right m-3 text-center">
    <%= link_to "回到團購紀錄", my_groups_path, class: "btn btn-dark" %>
    <% if @group.user_id == current_user.id %>
      <%= link_to "編輯團購", edit_group_path(@group.id), class: "btn btn-success" %>
    <% end %>
  </div>
  
  <table class= "table">
    <thead>
    <tr>
      <td>購買人</td>
      <td>品名</td>
      <td class="mac-col">單價</td>
      <td>選項</td>
      <td>合計</td>
    </tr>
    </thead>
    <tbody>
      <% @group.orders.each do |order| %>
        <% order.order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.order.buyer.name %>
            </td>
            <td>
              <%= order_item.product.name %>
            </td>
            <td class="mac-col">
              <%= order_item.product.price %>
            </td>
            <td>
              <% order_item.options.each do |option| %>
                <%= option.name %>
                (+<%= option.price %>元)
              <% end %>
            </td>
            <td>
              <%= order_item.total_price %>
            </td>
          </tr>
        <% end %>
      <% end %>
  </table>
</div>