<div class = "container bg-white rounded mt-5 text-center pb-5 show-container text-dark">
  <h1 class = "pt-5" > <%= t("groups.group_info") %> </h1>
  
  <% if @group.shop_photo.attached? %>
    <div class="row justify-content-center">
      <%= image_tag @group.shop_photo.variant(resize: "300x300"), class: "group-img "  %>
    </div>
  <% end %>

  <div class = "container text-left">
      <table class="table-sm mx-auto">
        <tr>
          <td> <%= t("groups.group_name") %> </td>
          <td> <%= @group.title %> </td>
        </tr>
        <tr>
          <td><%= t("groups.phone") %></td>
          <td> <%= @group.phone %> </td>
        </tr>
        <tr>
          <td><%= t("groups.address") %></td>
          <td> <%= @group.address %> </td>
        </tr>
        <tr>
          <td><%= t("groups.status") %></td>
          <td>
            <% if @group.is_active == true %>
              <%= t("groups.not_close") %>
            <% else%>
              <%= t("groups.closed") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= t("groups.description") %></td>
          <td> <%= @group.description %> </td>
        </tr>
        <tr>
          <td><%= t("groups.start_time") %></td>
          <td> <%= @group.created_at.to_s(:common) %> </td>
        </tr>
        <tr>
          <td><%= t("groups.total_price") %></td>
          <td> <%= @group.total_price %> </td>
        </tr>
      
      </table>
  </div> 
 
  
  <div class ="text-right m-3 text-center">
    <%= link_to t("groups.back_to_record"), my_groups_path, class: "btn btn-dark" %>
    <% if @group.user_id == current_user.id %>
      <%= link_to t("groups.edit_group"), edit_group_path(@group.id), class: "btn btn-success" %>
    <% end %>
  </div>
  
  <table class= "table">
    <thead>
    <tr>
      <td><%= t("groups.buy_man") %></td>
      <td><%= t("groups.product_name") %></td>
      <td class="mac-col"><%= t("groups.product_price") %></td>
      <td><%= t("groups.option") %></td>
      <td><%= t("groups.price") %></td>
    </tr>
    </thead>
    <tbody>
      <% @group.orders.each do |order| %>
        <% order.order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.order.buyer.name %>
            </td>
            <td>
              <%= order_item.product.name %>
            </td>
            <td class="mac-col">
              <%= order_item.product.price %>
            </td>
            <td>
              <% order_item.options.each do |option| %>
                <%= option.name %>
                (+<%= option.price %> <%= t("groups.dollars") %>)
              <% end %>
            </td>
            <td>
              <%= order_item.total_price %>
            </td>
          </tr>
        <% end %>
      <% end %>
  </table>
</div>