<script src="https://kit.fontawesome.com/2ddcd7dcfc.js" crossorigin="anonymous"></script>

<div class = "container bg-white rounded mt-5 text-center pb-5 show-container text-dark">
  <h1 class = "pt-5" > <%= t("groups.group_info") %> </h1>
  
  <% if @group.shop_photo.attached? %>
    <div class="row justify-content-center">
      <%= image_tag @group.shop_photo.variant(resize: "300x300"), class: "group-img "  %>
    </div>
  <% end %>

  <div class = "container text-left show-shopinfo_box">
      <table class="table-sm mx-auto ta-info">
        <tr>
          <td class="ta-title"><i class="fas fa-user-friends"></i> <%= t("groups.group_name") %> </td>
          <td class="ta-content"> <%= @group.title %> </td>
        </tr>
        <tr>
          <td class="ta-title"><i class="fa fa-phone"></i> <%= t("groups.phone") %></td>
          <td class="ta-content"> <%= @group.phone %> </td>
        </tr>
        <tr>
          <td class="ta-title"><i class="fa fa-map-marker"></i> <%= t("groups.address") %></td>
          <td class="ta-content"> <%= @group.address %> </td>
        </tr>
        <tr>
          <td class="ta-title"><i class="fas fa-shopping-cart"></i> <%= t("groups.status") %></td>
          <td class="ta-content">
            <% if @group.is_active == true %>
              <%= t("groups.not_close") %>
            <% else%>
              <%= t("groups.closed") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="ta-title"><i class="fas fa-comments"></i> <%= t("groups.description") %></td>
          <td class="ta-content"> <%= @group.description %> </td>
        </tr>
        <tr>
          <td class="ta-title"><i class="fas fa-clock"></i> <%= t("groups.start_time") %></td>
          <td class="ta-content"> <%= @group.created_at.to_s(:common) %> </td>
        </tr>
        <tr>
          <td class="ta-title"><i class="fas fa-comment-dollar"></i> <%= t("groups.total_price") %></td>
          <td class="ta-content"> <%= @group.total_price %> </td>
        </tr>
      
      </table>
  </div> 
 
  
  
  
  <table class= "table pc-show_table">
    <thead>
    <tr>
      <td><%= t("groups.buy_man") %></td>
      <td><%= t("groups.product_name") %></td>
      <td><%= t("groups.product_price") %></td>
      <td><%= t("groups.option") %></td>
      <td><%= t("groups.price") %></td>
    </tr>
    </thead>
    <tbody>
      <% @group.orders.each do |order| %>
        <% order.order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.order.buyer.name %>
            </td>
            <td>
              <%= order_item.product.name %>
            </td>
            <td>
              <%= order_item.product.price %>
            </td>
            <td>
              <% order_item.options.each do |option| %>
                <%= option.name %>
                (+<%= option.price %> <%= t("groups.dollars") %>)
              <% end %>
            </td>
            <td>
              <%= order_item.total_price %>
            </td>
          </tr>
        <% end %>
      <% end %>
  </table>
  <div class= "phone-show_table text-left">
    <% @group.orders.each do |order| %>
      <% order.order_items.each do |order_item| %>
        <div class= "border-top pt-2">
          <ul class="list-unstyled">
            <li>
              <%= t("groups.buy_man") %> : <%= order_item.order.buyer.name %>
            </li>
            <li>
              <%= t("groups.product_name") %> : <%= order_item.product.name %>
            </li>
            <li>
              <%= t("groups.option") %> :              
              <% order_item.options.each do |option| %>
                <%= option.name %>
                (+<%= option.price %> <%= t("groups.dollars") %>)
              <% end %>
            </li>
            <li>
              <%= t("groups.price") %> : <%= order_item.total_price %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class ="text-right mt-5 text-center">
    <%= link_to t("groups.back_to_record"), my_groups_path, class: "btn btn-dark" %>
  </div>
</div>