<div class="box text-center">
  <div class="logobox">
    <%= image_tag("logo.png", :alt => "logo" ,class:'logo') %>
  </div>
  <h2 class='signinh2 h3 mb-3'><%= t("devise.login") %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mt-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email address",class:"form-control" %><br/>
    </div>

    <div class="actions">
      <%= f.submit t("devise.mailer.reset_password_instructions.subject"), class:'btn btn-md btn-info btn-block' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
