<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'logo2.ico' %>
    <title>Goodbuy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="turbolinks-cache-control" content="no-preview">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if (params[:controller]) == 'groups' && (params[:action] == 'attend'||'my'||'public'||'show_follow') %>
      <%= stylesheet_link_tag    'groups', media: 'all'%>
    <% end %>

    <% if (params[:controller] == 'groups') && (params[:action] == 'new'|| 'edit' ) %>
      <%= stylesheet_link_tag    'groups_new', media: 'all'%>
    <% end %>

    <% if (params[:controller].include?('devise'))%>
      <%= stylesheet_link_tag    'devise', 'data-turbolinks-track': 'reload'%>
    <% end %>
    <% if (params[:controller] == 'groups') && (params[:action] == 'new' || 'edit'|| 'link') %>
      <%= javascript_include_tag  'groups_new'%>
    <% end %>

    <% if (params[:controller] == 'groups') && (params[:action] == 'buy' ) %>
      <%= stylesheet_link_tag    'buy', media: 'all'%>
    <% end %>

    <% if (params[:controller] == 'groups') && (params[:action] == 'link') %>
      <%= stylesheet_link_tag   'groups_link', 'data-turbolinks-track': 'reload'%>
    <% end %>

  </head>

  <body>

    <%= yield %>
    <% if (params[:controller] == 'groups') && (params[:action] == 'new' || 'edit' ) %>
      <%= javascript_include_tag  'groups_new'%>
    <% end %>

    <% if (params[:controller] == 'groups') && (params[:action] == 'my' || 'attend' || 'show_follow') %>
      <%= javascript_include_tag  'groups_my'%>
    <% end %>
    
    <% if (params[:controller] == 'groups') && (params[:action] == 'buy' ) %>
      <%= javascript_include_tag  'buy'%>
    <% end %>
    
    <% if (params[:controller] == 'groups') && (params[:action] == 'link') %>
      <%= javascript_include_tag  'groups_link'%>
    <% end %>

    <% if (params[:controller] == 'orders') && (params[:action] == 'show') %>
      <%= javascript_include_tag  'orders_show'%>
    <% end %>
  </body>
</html>
