<!DOCTYPE html>
<html>
  <head>
    <title>Goodbuy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if (params[:controller]) == 'groups' && (params[:action] == 'attend'||'my'||'public') %>
      <%= stylesheet_link_tag    'groups', media: 'all'%>
    <% end %>

    <% if (params[:controller] == 'groups') && (params[:action] == 'new'|| 'edit' ) %>
      <%= stylesheet_link_tag    'groups_new', media: 'all'%>
    <% end %>

    <% if (params[:controller].include?('devise'))%>
      <%= stylesheet_link_tag    'devise', media: 'all'%>
    <% end %>
    <% if (params[:controller] == 'groups') && (params[:action] == 'new' || 'edit'|| 'link') %>
      <%= javascript_include_tag  'groups_new'%>
    <% end %>

    <% if (params[:controller] == 'groups') && (params[:action] == 'buy' ) %>
      <%= stylesheet_link_tag    'buy', media: 'all'%>
    <% end %>

  </head>

  <body>
    <%= yield %>
    <% if (params[:controller] == 'groups') && (params[:action] == 'new' || 'edit' || 'buy' ) %>
      <%= javascript_include_tag  'groups_new'%>
    <% end %>

    <% if (params[:controller] == 'groups') && (params[:action] == 'buy' ) %>
      <%= javascript_include_tag  'buy'%>
    <% end %>
    
    <% if (params[:controller] == 'groups') && (params[:action] == 'link') %>
      <%= javascript_include_tag  'groups_link'%>
    <% end %>
  </body>
</html>
